* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100dvw;
  height: 100dvh;
}
.container-in {
  border-radius: 1rem;
  width: 360px;
  height: 550px;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: #ffffff;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.45);
}
.img_div {
  width: auto;
  height: auto;
}
img {
  width: 320px;
  border-radius: 10px;
}

.text-area{
    margin-top: 1.5rem;
}
.text-area > h2{
    padding: 0 10px;
    font-weight: 600;
    font-size: 25px;
    
}
.text-area p{
    margin-top: 1.5rem;
    color: #888;
    padding: 0 1.5rem;
    font-size: 18px;
}